.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.iml
.idea/
.vscode/
*.lock

# Env files (não commitar chaves)
env.local.json
env.android.json
env.production.json
