.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.iml
.idea/
.vscode/
*.lock

# Env local (não commitar chaves de produção)
env.local.json
env.prod.json
